DISCORD_TOKEN=COLE_O_TOKEN_DO_BOT_AQUI
DISCORD_CHANNEL_ID=1511957022860382288
PREFIX=!
RCON_HOST=niceatm11.jogar.io
RCON_PORT=25575
RCON_PASSWORD=COLE_SENHA_RCON_AQUI
TOP_LIMIT=10


# Opcional: texto do comando !evento
EVENTO_TITULO=🎉 Evento valendo VIP
EVENTO_DATA=Final de semana
EVENTO_PREMIO=VIP para o vencedor
EVENTO_TEXTO=No próximo final de semana teremos evento valendo VIP. Mais detalhes serão anunciados em breve.
